html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#indexAdmin td {
    text-align: center;
    vertical-align: middle;
}

#indexAdmin th {
    text-align: center;
}

.isAccepted {
    font-weight: bold;
    background-color: rgba(96, 168, 20, 0.6) !important;
}

.rankingKlasa1 {
    background-color: white;
}

.rankingKlasa2 {
    background-color: rgb(177, 177, 177);
}