@page
@model RegisterModel
@{
    ViewData["Title"] = "Zarejestruj się";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Stwórz nowe konto</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" />
                <label asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Surname" class="form-control" autocomplete="surname" aria-required="true" />
                <label asp-for="Input.Surname"></label>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <p>
                Klikając w poniższy przycisk przyjmij do wiadomości, że:
                <ul>
                    <li>Twoje dane będą przetwarzane tylko i wyłącznie do celu obsługi Ligi Wspinaczkowej organizownej przez Klub Wysokogórski w Nowym Sączu</li>
                    <li>Twoje dane będą wykorzystywane wyłącznie w celu publikowania ogólnodostępnego rankingu zawierającego imię i nazwisko oraz liczbę zdobytych punktów</li>
                    <li>Możesz zarządać wglądu w swoje dane oraz ich usunięcia</li>
                </ul>
            </p>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Zarejestruj się</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
