@model LigaWspinaczkowa.Models.UserStage

@{
    ViewData["Title"] = "CreateUser";
}

<h1>CreateUser</h1>

<h4>UserStage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StageId" class="control-label"></label>
                <select asp-for="StageId" class ="form-control" asp-items="ViewBag.StageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateRoute1" class="control-label"></label>
                <input asp-for="DateRoute1" type="date" class="form-control" />
                <span asp-validation-for="DateRoute1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route1Points" class="control-label"></label>
                <input asp-for="Route1Points" class="form-control" />
                <span asp-validation-for="Route1Points" class="text-danger"></span>
            </div>
            @* <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAcceptedRoute1" /> @Html.DisplayNameFor(model => model.IsAcceptedRoute1)
                </label>
            </div> *@
            <div class="form-group">
                <label asp-for="DateRoute2" class="control-label"></label>
                <input asp-for="DateRoute2" type="date" class="form-control" />
                <span asp-validation-for="DateRoute2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route2Points" class="control-label"></label>
                <input asp-for="Route2Points" class="form-control" />
                <span asp-validation-for="Route2Points" class="text-danger"></span>
            </div>
            @* <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAcceptedRoute2" /> @Html.DisplayNameFor(model => model.IsAcceptedRoute2)
                </label>
            </div> *@
            <div class="form-group">
                <label asp-for="DateRoute3" class="control-label"></label>
                <input asp-for="DateRoute3" type="date" class="form-control" />
                <span asp-validation-for="DateRoute3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteLead3Points" class="control-label"></label>
                <input asp-for="RouteLead3Points" class="form-control" />
                <span asp-validation-for="RouteLead3Points" class="text-danger"></span>
            </div>
            @* <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAcceptedRoute3" /> @Html.DisplayNameFor(model => model.IsAcceptedRoute3)
                </label>
            </div> *@
            @* <div class="form-group">
                <label asp-for="UserStageUserId" class="control-label"></label>
                <select asp-for="UserStageUserId" class ="form-control" asp-items="ViewBag.UserStageUserId"></select>
            </div> *@
            <input type="hidden" asp-for="UserStageUserId" value="@ViewBag.user" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
