@model IEnumerable<LigaWspinaczkowa.Models.UserStage>

@{
    ViewData["Title"] = "Ranking";
}

<h1>Ranking</h1>

<table class="table" id="indexAdmin">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserStageUser)
            </th>
            <th>
                S
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStageUser.Email)
                </td>
                <td>
                    @{
                        float suma = item.Route1Points.GetValueOrDefault()
                        + item.Route2Points.GetValueOrDefault()
                        + item.RouteLead3Points.GetValueOrDefault();
                    }
                    @suma
                </td>
            </tr>
        }
    </tbody>
</table>
