@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w lidze wspinaczkowej</h1>
    <a asp-controller="UserStage" asp-action="IndexUser" class="btn btn-outline-primary">Rozpocznij</a>
</div>
