@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Lidze Wspinaczkowej</h1>
    <h3>Organizowanej przez Klub Wysokogóski w Nowym Sączu</h3>
    <a asp-controller="UserStage" asp-action="IndexUser" class="btn btn-outline-primary">Rozpocznij</a><br /><br />
    <img src="/img/mainphoto.jpg" class="img-fluid" alt="wspinanie"/>
</div>
