@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Liga Wspinaczkowa";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Lidze Wspinaczkowej</h1>
    <h3>Organizowanej przez Klub Wysokogóski w Nowym Sączu</h3>
    <a asp-controller="UserStage" asp-action="Ranking" class="btn btn-primary">Sprawdź ranking</a>
    @if (!SignInManager.IsSignedIn(User))
    {
        <a href="/Identity/Account/Register" class="btn btn-primary">Zarejestruj się</a>
    }
    <a asp-controller="UserStage" asp-action="IndexUser" class="btn btn-primary">Dodaj przejście</a><br /><br />
    <img src="/img/mainphoto.jpg" class="img-fluid" alt="wspinanie"/>
</div>
