
@{
    ViewData["Title"] = "O Systemie";
}

<h1>O Systemie</h1>
<p>Stystem informatyczny do obsługi Ligi Wspinaczkowej został zrealizowany przez <a href="https://szkolaprogramowania.cybertree.pl/">Szkołę Programowania Cybertree</a>
    oraz praktykanów z Elitarnego Liceum Informatycznego w Nowym Sączu w ramach praktyk 2023 r.</p>

